<div class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.pixabay.com/photo/2015/03/26/10/49/photographer-692035_960_720.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i5.walmartimages.com/asr/1f6053e6-97ce-4444-8fdf-15a83388bd82_1.b6977b8cea1c350384fc4746d41b1277.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="http://fotorelax.ru/wp-content/uploads/2017/03/A-self-taught-photographer-takes-amazing-landscapes-in-your-travels-14.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="counters">
  <div class="alert alert-secondary" role="alert">
    Фотографии высокого качества
  </div>
  <div class="beer"><a href="#" tabindex="-1" class="btn btn-dark col-4" aria-hidden="true">Оформить</a></div>

  <div class="container">
    <p class="font-monospace">Ищете профессионала? Вам представлен полный каталог лучших фотографов Москвы и других специалистов. Вы сможете ознакомиться с портфолио, просмотреть отзывы, узнать цену за час работы и принять окончательное решение, поэтому предлагаем перейти к выбору мастера.</p>
  </div>
</div>
