<script defer src='/js/orders.js'></script>

<ul class='list-group list-group-flush'>
  {{#each products}}
    <li class='list-group-item'>
      <div
        class='form-check'
        data-productid='{{this.id}}'
        data-price='{{this.price}}'
      >
        <input
          class='form-check-input'
          type='checkbox'
          value=''
          name='product'
        />
        <label class='form-check-label' for='flexCheckDefault'>
          {{this.product_name}}
        </label>
        <div class='input-group w-25'>
          <div class='input-group-prepend'>
            <span class='input-group-text'>Количество камер и часы</span>
          </div>
          <input type='text' class='form-control' id='hours' value='1' />
          <input type='text' class='form-control' id='equip_count' value='1' />
        </div>
      </div>
    </li>
  {{/each}}
</ul>
<button
  id='testBtn'
  type='button'
  class='btn btn-dark'
  data-bs-toggle='modal'
  data-bs-target='#exampleModal'
>Оформить</button>

<div
  class='modal fade'
  id='exampleModal'
  tabindex='-1'
  aria-labelledby='exampleModalLabel'
  aria-hidden='true'
>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='exampleModalLabel'>Оформить заказ</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <form action='/orders' method='post' name='orderForm'>
          <div class='mb-3'>
            <label for='recipient-name' class='col-form-label'>Имя</label>
            <input type='text' class='form-control' name='name' required />
          </div>
          <div class='mb-3'>
            <label for='recipient-name' class='col-form-label'>Фамилия</label>
            <input type='text' class='form-control' name='surname' required />
          </div>
          <div class='mb-3'>
            <label for='recipient-name' class='col-form-label'>Телефон</label>
            <input type='text' class='form-control' name='phone' required />
          </div>
          <div class='mb-3'>
            <label for='recipient-name' class='col-form-label'>Email</label>
            <input type='email' class='form-control' name='email' required />
          </div>
          <div class='modal-footer'>
            <button type='submit' class='btn btn-primary'>Оформить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
