{{! <footer>
  <div class='row'>
    <section class='col'>
      <h4>Контакты</h4>
      <h4>Photo STUDIO</h4>
      <p>наб. Реки Карповки,
        <br />5 лит П,Санкт-Петербург</p>
      <p><a href='tel:+79999999999'>+7 999 999-99-99</a></p>
    </section>

    <section>
      <br />
      <a class='social'><img
          src='img/VKi.png'
          width='82'
          height='81'
          alt='iconvk'
        /></a>
      <a class='social'><img
          src='img/insta-icon.svg'
          width='82'
          height='81'
          alt='iconinstagram'
        /></a>

    </section>
  </div>
</footer> }}

<footer
  class='d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top'
>
  <div class='col-md-4 d-flex align-items-center'>
    <a href='/' class='mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1'>
      <svg class='bi' width='30' height='24'><use
          xlink:href='#bootstrap'
        ></use></svg>
    </a>
    <span class='text-muted'>© 2021 Photo Studio</span>
  </div>

  <ul class='nav col-md-4 justify-content-end list-unstyled d-flex'>
    <li class='ms-3'><a class='text-muted' href='#'><svg
          class='bi'
          width='24'
          height='24'
        ><use xlink:href='#twitter'></use></svg></a></li>
    <li class='ms-3'><a class='text-muted' href='#'><svg
          class='bi'
          width='24'
          height='24'
        ><use xlink:href='#instagram'></use></svg></a></li>
    <li class='ms-3'><a class='text-muted' href='#'><svg
          class='bi'
          width='24'
          height='24'
        ><use xlink:href='#facebook'></use></svg></a></li>
  </ul>
</footer>
